$color: blue;

body {
    color: $color;
    user-select: none;
    background: #ccc;
}

img {
    -webkit-user-drag: none;
}

.ant-menu-item {
    transition: height 1s linear 1s !important;
}

.ant-menu-submenu-inline {
    transition: height 1s linear 1s !important;
}